* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    height: 150vh;
    width: 100%;
    background-color: #899193;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.logo {
    display: grid;
    grid-area: 1/1/2/3;
}

.logo img {
    height: 10vh;
}

header {
    display: grid;
    grid-area: 1/1/2/19;
    padding: 0 1em;
    height: 15vh;
    background-color: black;
    align-items: center;
}

nav {
    display: grid;
    grid-area: 1/3/2/19;
}

ul {
    display: inline-flex;
    justify-content: center;
}

ul:hover li:not(:hover) a {
    opacity: 0.2;
}

li {
    padding: 0 2em;
    list-style: none;
    cursor: pointer;
}

a {
    color: #ebdc1e;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hero {
    display: grid;
    grid-area: 2/1/9/19;
    background-color: black;

}

.hero img {
    display: grid;
    grid-area: 2/1/9/5;
    height: 90vh;
    cursor: pointer;
}

.hero img:hover {
    opacity: 0.2;

}

.cta {
    display: grid;
    grid-area: 2/5/9/19;
    height: 90vh;
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: 1;
    justify-items: right;
    padding-right: 4em;
    align-items: center;
    color: white;
    background: linear-gradient(to right, black, #899193);

}

.cta h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    text-align: right;
}

.cta p {
    font-size: 1rem;
    text-align: right;
}

.cta .button {
    display: grid;
    background-color: transparent;
    padding: 1rem 2rem;
    align-self: center;
    border: 2px solid white;
    cursor: pointer;
}

.button a {
    color: #ebdc1e;

}

.button:hover {
    opacity: 0.2;
}

.info {
    display: grid;
    grid-area: 9/1/17/19;
    background-color: black;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    align-content: center;
    justify-content: center;
    color: white;

}

.left {
    border: 1px solid white;
    border-right: transparent;
    padding: 2em;
}

.left h3 {
    font-size: 3rem;
}

.left p {
    text-align: justify;
    line-height: 2em;
}

.left button {
    padding: 1em 2em;
    border: 1px solid white;
    background: transparent;
}

button:hover {
    opacity: 0.2;
}

.right {
    border: 1px solid white;
    border-left: transparent;
    display: flex;
    justify-content: center;
    padding: 2em;
}

footer {
    display: grid;
    grid-area: 17/1/19/19;
    background-color: #24262b;
    color: white;
    justify-content: center;

}

.footer-content {
    display: block;
    align-self: center;
    text-align: center;
}

.social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #777b84;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: whitesmoke;
    transition: all 0.5s ease;
}

.social a:hover {
    color: #24262b;
    background-color: darkgrey;
}

.copyright {
    text-align: center;
    align-items: center;

}

/*************************Content Pages****************************************/
.content {
    display: grid;
    grid-area: 2/1/17/19;
    color: white;
    align-content: flex-start;
}

.content h1 {
    padding: 0em .5em 1em .5em;
    font-size: 3rem;
    align-self: center;

}

.cards-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(260px, 1fr));
    align-self: center;
    justify-content: center;
    grid-gap: 2em 3em;
}

.content-cards {
    display: inline-flex;
    height: auto;
    justify-content: center;
    border: 2px solid white;
    background-color: black;
    margin: 0em 1em;
    align-items: center;

}

.content-cards img {
    margin: auto;
    display: block;
    padding: 1em;

}

.card-title {
    padding: 1em;
}



/*************************Universe Pages****************************************/

.universe-content h1 {
    padding: .5em .5em 1em .5em;
    font-size: 2rem;
    align-self: center;


}

.universe-content {
    display: grid;
    grid-area: 2/1/17/19;
    color: white;
    align-content: flex-start;
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(137, 145, 147, 1) 55%);
}

.universe-content h2 {
    padding: 2em 1em 1em 1em;
}

.universe-cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(260px, 1fr));
    align-self: center;
    justify-content: center;
    grid-gap: 2em .5em;
    padding: 1em 0em;
}

.universe-content-cards {
    display: inline-block;
    height: auto;
    justify-content: center;
    border: 2px solid white;
    background-color: black;
    margin: 0em 1em;
    align-items: center;

}

.universe-content-cards img {
    margin: auto;
    display: block;

}

.universe-card-title {
    padding: 1em;
    font-size: .7rem;
}